[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "*"
plotly = "*"
numpy = "*"
nbformat = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"
azure-functions = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
