[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "*"
plotly = "*"
numpy = "*"
nbformat = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.14"
python_full_version = "3.14.3"
